[submodule "cherryusb/CherryUSB"]
	path = cherryusb/CherryUSB
	url = https://github.com/sakumisu/CherryUSB.git
[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/sidd-kishan/pico-examples-cherryusb
